@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

// SOUND-STORE-WRAPPER

.sound-store-wrapper {
  background-color: #000a26;
  position: relative;
  overflow: hidden;
  max-width: 1400px;
  width: 100%;
  height: 1000px;
  cursor: pointer;
}

.sound-word {
  @include respond-to(tablet) {
    position: absolute;
    font-size: 1000.74px;
    text-transform: uppercase;
    font-family: "Gobold-Bold";
    color: #0a122d;
    top: -510px;
    left: -39px;
  }
}

.store-word {
  @include respond-to(tablet) {
    position: absolute;
    font-size: 819.33px;
    text-transform: uppercase;
    font-family: "Gobold-Bold";
    color: #0a122d;
    bottom: -450px;
    left: -50px;
  }
}

// SOUND-NAVIGATION-CONTAINER

.sound-navigation-container {
  @include respond-to(tablet) {
    position: relative;
    z-index: 1;
  }
}

.container-content {
  max-width: 1280px;
  margin: 0px auto;
}

.sound-navigation-content {
  @include respond-to(tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.sound-instruments {
  @include respond-to(tablet) {
    max-width: 1280px;
    width: 100%;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.06);
  }
}

.sound-title {
  @include respond-to(tablet) {
    font-size: 24.5px;
    text-transform: uppercase;
    font-family: "Roboto-Bold";
    display: flex;
    align-items: center;
    margin-left: 123px;
    color: #fff;
  }
}

.sound-subtitle {
  @include respond-to(tablet) {
    font-size: 17px;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    align-self: center;
    color: #cdf6f7;
  }
}

.sound-subtitle::after {
  @include respond-to(tablet) {
    display: block;
    content: "";
    border-bottom: 3px solid #00fcff;
  }
}

.navigation-icons {
  @include respond-to(tablet) {
    display: flex;
  }
}

// SEARCH-ON-CONTAINER

#search {
  @include respond-to(tablet) {
    background-image: url("../img/search.png");
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    margin: 2px 25px 0px 0px;
    cursor: pointer;
  }
}

#search-on-container {
  @include respond-to(tablet) {
    display: none;
  }
}

#search-on-container.visible {
  @include respond-to(tablet) {
    width: 100%;
    display: block;
  }
}

.search-on-content {
  @include respond-to(tablet) {
    margin: 0px 60px;
  }
}

.search-on-button {
  @include respond-to(tablet) {
    position: relative;
  }
}

.search-on-button input {
  @include respond-to(tablet) {
    font-size: 30px;
    color: #0a2e5a;
  }
}

input[type="text"] {
  @include respond-to(tablet) {
    border: none;
    outline: none;
    width: 100%;
    vertical-align: middle;
    background-color: #e6edf1;
  }
}

#search-close {
  @include respond-to(tablet) {
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url("../img/close.png");
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

//SHOPPING-CART//

#shopping-cart {
  @include respond-to(tablet) {
    background-image: url("../img/Cart.png");
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    font-size: 11px;
    font-family: "Roboto-Light";
    margin: 2px 25px 0px 0px;
    padding: 3px 0px 0px 29px;
    color: #fff;
    cursor: pointer;
  }
}

#information {
  @include respond-to(tablet) {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    max-width: 560px;
    float: right;
    background-color: #fff;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 12;
  }
}

.information-content {
  @include respond-to(tablet) {
    padding: 35px 0 40px 40px;
  }
}

.information-title {
  @include respond-to(tablet) {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: "Roboto-Bold";
  }
}

.personnal {
  @include respond-to(tablet) {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Roboto-Light";
  }
}

.information-content .nice-select {
  @include respond-to(tablet) {
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    outline: none;
    width: 100%;
    max-width: 230px;
    margin-top: 3px;
    padding: 0px 0px;
    text-transform: uppercase;
    font-family: "Roboto-Bold";
  }
}

.information-content input {
  @include respond-to(tablet) {
    border: none;
    outline: none;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    padding: 14px 0px;
    margin: 0px 25px 12px 0px;
    width: 100%;
    max-width: 230px;
  }
}

input[type="adress"] {
  @include respond-to(tablet) {
    max-width: 485px;
  }
}

.note {
  @include respond-to(tablet) {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Roboto-Light";
  }
}

input[type="note"] {
  @include respond-to(tablet) {
    max-width: 485px;
    margin-bottom: 40px;
  }
}

.delivery {
  @include respond-to(tablet) {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Roboto-Light";
  }
}

#delivers-mode {
  @include respond-to(tablet) {
    outline: none;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    max-width: 230px;
    padding: 14px 0px;
  }
}

.your-item-container {
  @include respond-to(tablet) {
    display: flex;
    align-items: end;
    justify-content: space-between;
    max-width: 480px;
    width: 100%;
    height: 120px;
    margin: 20px auto;
    border-bottom: 1px solid #d9e0e3;
  }
}

.your-cart-content {
  @include respond-to(tablet) {
    background-color: #f2f9fd;
  }
}

.your-cart-title {
  @include respond-to(tablet) {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #d9e0e3;
    max-width: 480px;
    width: 100%;
    margin: 20px auto;
    padding: 14px 0px;
    font-family: "Roboto-Bold";
  }
}

.image-cart {
  @include respond-to(tablet) {
    margin-top: 10px;
  }
}

.image-cart img {
  @include respond-to(tablet) {
    width: 59px;
    height: 90px;
  }
}

.description-produck-cart {
  @include respond-to(tablet) {
    margin-top: 38px;
  }
}

.headpones-brand {
  @include respond-to(tablet) {
    display: block;
    font-size: 18px;
    font-family: "Roboto-Light";
    color: black;
  }
}

.quantity-cart {
  @include respond-to(tablet) {
    border: none;
    width: 12px;
    height: 0px;
    margin-top: 23px;
  }
}

.quantity-cart input {
  @include respond-to(tablet) {
    font-size: 14px;
    background-color: #f2f9fd;
    text-align: center;
  }
}

button[class*="btn"] {
  @include respond-to(tablet) {
    border: none;
    cursor: pointer;
  }
}

.plus-btn {
  @include respond-to(tablet) {
    background-image: url("../img/plus.png");
    background-color: #f2f9fd;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    outline: none;
  }
}

.minus-btn {
  @include respond-to(tablet) {
    background-image: url("../img/minus.png");
    width: 10px;
    height: 2px;
    background-repeat: no-repeat;
    outline: none;
  }
}

.total-price {
  @include respond-to(tablet) {
    margin-top: 38px;
    font-family: "Roboto-Light";
    flex-grow: 0.6;
    text-align: right;
  }
}

.last-informations {
  @include respond-to(tablet) {
    display: flex;
    padding-bottom: 40px;
  }
}

.consent-block {
  @include respond-to(tablet) {
    width: 14px;
    height: 14px;
    border: 1px solid #e5e5e5;
    margin-right: 12px;
  }
}

.box-agree {
  @include respond-to(tablet) {
    background-image: url("../img/box-agree.jpg");
    width: 14px;
    height: 14px;
    margin-right: 12px;
  }
}

.consent-container {
  @include respond-to(tablet) {
    display: flex;
    align-items: center;
    width: 60%;
    padding-left: 40px;
  }
}

.total-button-container {
  @include respond-to(tablet) {
    width: 40%;
  }
}

.consent {
  @include respond-to(tablet) {
    font-size: 14px;
    font-family: "Roboto-Light";
    color: #4c4d4e;
  }
}

.consent a {
  @include respond-to(tablet) {
    font-size: 14px;
    font-family: "RobotoLight";
    color: #81c5e8;
    text-decoration: none;
  }
}

.shipping-container,
.subtotal-container {
  @include respond-to(tablet) {
    display: flex;
    width: 180px;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.shipping-title,
.subtotal-title,
.shipping-price,
.subtotal-price {
  @include respond-to(tablet) {
    font-size: 14px;
    text-transform: uppercase;
    color: #4c4d4e;
    font-family: "Roboto-Light";
  }
}

.submit {
  @include respond-to(tablet) {
    width: 180px;
    height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
    border: 0;
    font-family: "Roboto-Light";
  }
}

// FAVORITES

#favorites {
  @include respond-to(tablet) {
    background-image: url("../img/Favorites.png");
    width: 24px;
    height: 22px;
    background-repeat: no-repeat;
    font-size: 11px;
    font-family: "Roboto-Light";
    margin: 2px 39px 0px 0px;
    padding: 3px 0px 0px 28px;
    color: #fff;
    cursor: pointer;
  }
}

#favorites-container {
  @include respond-to(tablet) {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    height: 100%;
    background-color: #000a26;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 12;
  }
}

.favorites-title {
  @include respond-to(tablet) {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Roboto-Bold";
    margin: 30px 12px 20px 12px;
    color: #fff;
  }
}

.headpones-models-images {
  @include respond-to(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.headpones-model {
  @include respond-to(tablet) {
    width: 100%;
    border: 6px solid transparent;
    margin: 0px 6px;
  }
}

.headpones-model-image {
  @include respond-to(tablet) {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: bottom;
  }
}

.headpones-model:nth-child(1) .headpones-model-image {
  @include respond-to(tablet) {
    background-image: url("../img/Headphonebig1.png");
  }
}

.headpones-model:nth-child(2) .headpones-model-image {
  @include respond-to(tablet) {
    background-image: url("../img/Headphonebig2.png");
  }
}

.headpones-model:nth-child(3) .headpones-model-image {
  @include respond-to(tablet) {
    background-image: url("../img/headphones3.png");
  }
}

.headpones-model:nth-child(4) .headpones-model-image {
  @include respond-to(tablet) {
    background-image: url("../img/Headphonebig5.png");
  }
}

.headpones-model:nth-child(5) .headpones-model-image {
  @include respond-to(tablet) {
    background-image: url("../img/Headphonebig6.png");
  }
}

#sound-menu {
  @include respond-to(tablet) {
    background-image: url("../img/Menu.png");
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    margin: 26px 18px;
    cursor: pointer;
  }
}

//WRAPPER//

.tabs-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.tabs-wrapper .active {
  color: red;
}

.tabs-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-grow: 0.5;
  position: relative;
  z-index: 10;
}

.tabs-arrows {
  text-align: right;
}

.arrow-prev,
.arrow-next {
  display: inline-block;
  width: 19px;
  height: 17px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 30px;
  z-index: 5;
}

.arrow-prev {
  background-image: url("../img/prev.png");
  margin-bottom: 26px;
}

.arrow-next {
  background-image: url("../img/next.png");
  margin-top: 26px;
}

.tabs-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tab-title {
  color: #fff;
  font-size: 63px;
  text-transform: uppercase;
  font-family: "Gobold-Bold";
  opacity: 0.4;
  display: none;
}

.tab-container {
  position: relative;
  width: 81px;
  height: 94px;
  background: #fff;
  cursor: pointer;
  border-bottom: 1px solid #c9cbd3;
}

.tab-container.active {
  width: 130px;
  height: 120px;
  background: linear-gradient(to right, #00cfff, #0079ff);
}

.tab-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 59px;
  height: 59px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.tab-image.active {
  width: 70px;
  height: 94px;
  background-size: contain;
  background-position: bottom;
}

.tab-container:nth-child(1) .tab-image {
  background-image: url("../img/Headphonebig1.png");
}

.tab-container:nth-child(2) .tab-image {
  background-image: url("../img/Headphonebig2.png");
}

.tab-container:nth-child(3) .tab-image {
  background-image: url("../img/headphones6.png");
}

.tab-container:nth-child(4) .tab-image {
  background-image: url("../img/headphones3s.png");
}

.tab-container:nth-child(5) .tab-image {
  background-image: url("../img/Headphonebig5.png");
}

.tab-container:nth-child(6) .tab-image {
  background-image: url("../img/Headphonebig6.png");
}

//TAB-CONTENT//

.tab_item {
  display: flex;
  flex-direction: row-reverse;
}

.tab-item-image {
  position: relative;
  display: inline-block;
  width: 378px;
  height: 520px;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: contain;
}

.tab_item:nth-child(1) .tab-item-image {
  background-image: url("../img/Headphonebig1.png");
}

.tab_item:nth-child(2) .tab-item-image {
  background-image: url("../img/Headphonebig2.png");
}

.tab_item:nth-child(3) .tab-item-image {
  background-image: url("../img/Headphonebig.png");
}

.tab_item:nth-child(4) .tab-item-image {
  background-image: url("../img/Headphonebig1.png");
}

.tab_item:nth-child(5) .tab-item-image {
  background-image: url("../img/Headphonebig5.png");
}

.tab_item:nth-child(6) .tab-item-image {
  background-image: url("../img/Headphonebig6.png");
}

//DETAILS-CONTAINER//

.details-title {
  font-size: 12px;
  color: #fff;
  font-family: "Roboto-Thin";
  letter-spacing: 2px;
  line-height: 2.6;
  margin-bottom: -1px;
}

.details-title::after {
  display: block;
  content: "";
  border-bottom: 2px solid #00b3f2;
}

.details-images-container {
  display: flex;
  margin-bottom: 13px;
}

.image-container {
  width: 59px;
  height: 86px;
  display: flex;
  align-items: flex-end;
}

.detail-image {
  width: 59px;
  height: 59px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  cursor: pointer;
  background-color: #fff;
  border-right: 1px solid #c9cbd3;
}

.detail-image.active {
  width: 59px;
  height: 86px;
  background-position: center;
}

.tab_item:nth-child(1) .image-container:nth-child(1) .detail-image {
  background-image: url("../img/Headphonebig1.png");
}

.tab_item:nth-child(1) .image-container:nth-child(2) .detail-image {
  background-image: url("../img/Headphonebig7.png");
}

.tab_item:nth-child(1) .image-container:nth-child(3) .detail-image {
  background-image: url("../img/Headphonebig8.png");
}

.tab_item:nth-child(1) .image-container:nth-child(4) .detail-image {
  background-image: url("../img/Headphonebig9.png");
}

.tab_item:nth-child(2) .image-container:nth-child(1) .detail-image {
  background-image: url("../img/Headphonebig2.png");
}

.tab_item:nth-child(2) .image-container:nth-child(2) .detail-image {
  background-image: url("../img/Headphonebig7.png");
}

.tab_item:nth-child(2) .image-container:nth-child(3) .detail-image {
  background-image: url("../img/Headphonebig8.png");
}

.tab_item:nth-child(2) .image-container:nth-child(4) .detail-image {
  background-image: url("../img/Headphonebig9.png");
}

.tab_item:nth-child(3) .image-container:nth-child(1) .detail-image {
  background-image: url("../img/Headphonebig.png");
}

.tab_item:nth-child(3) .image-container:nth-child(2) .detail-image {
  background-image: url("../img/Headphonebig7.png");
}

.tab_item:nth-child(3) .image-container:nth-child(3) .detail-image {
  background-image: url("../img/Headphonebig8.png");
}

.tab_item:nth-child(3) .image-container:nth-child(4) .detail-image {
  background-image: url("../img/Headphonebig9.png");
}

.tab_item:nth-child(4) .image-container:nth-child(1) .detail-image {
  background-image: url("../img/Headphonebig1.png");
}

.tab_item:nth-child(4) .image-container:nth-child(2) .detail-image {
  background-image: url("../img/Headphonebig7.png");
}

.tab_item:nth-child(4) .image-container:nth-child(3) .detail-image {
  background-image: url("../img/Headphonebig8.png");
}

.tab_item:nth-child(4) .image-container:nth-child(4) .detail-image {
  background-image: url("../img/Headphonebig9.png");
}

.tab_item:nth-child(5) .image-container:nth-child(1) .detail-image {
  background-image: url("../img/Headphonebig5.png");
}

.tab_item:nth-child(5) .image-container:nth-child(2) .detail-image {
  background-image: url("../img/Headphonebig7.png");
}

.tab_item:nth-child(5) .image-container:nth-child(3) .detail-image {
  background-image: url("../img/Headphonebig8.png");
}

.tab_item:nth-child(5) .image-container:nth-child(4) .detail-image {
  background-image: url("../img/Headphonebig9.png");
}

.tab_item:nth-child(6) .image-container:nth-child(1) .detail-image {
  background-image: url("../img/Headphonebig6.png");
}

.tab_item:nth-child(6) .image-container:nth-child(2) .detail-image {
  background-image: url("../img/Headphonebig7.png");
}

.tab_item:nth-child(6) .image-container:nth-child(3) .detail-image {
  background-image: url("../img/Headphonebig8.png");
}

.tab_item:nth-child(6) .image-container:nth-child(4) .detail-image {
  background-image: url("../img/Headphonebig9.png");
}
//COLOURS-CONTAINER//

.colours-container {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.colours-title {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Roboto-Light";
  color: #fff;
  letter-spacing: 3px;
  line-height: 1.3;
  margin-bottom: 13px;
}

.colours-subtitle {
  font-size: 19px;
  text-transform: uppercase;
  font-family: "Roboto-Light";
  color: #fff;
  letter-spacing: 0px;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  border-image: linear-gradient(to top, transparent 0%, #00d1fe 100%);
  border-image-slice: 1;
}

.color-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.color-wrapper.active {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.color-wrapper.active:nth-child(1) {
  border: 3px solid #008aff;
}

.color-wrapper.active:nth-child(2) {
  border: 3px solid #fff;
}

.color-wrapper.active:nth-child(3) {
  border: 3px solid #00fff6;
}

.color-wrapper.active:nth-child(4) {
  border: 3px solid #ff0000;
}

.color-wrapper.active:nth-child(5) {
  border: 3px solid #ffea00;
}

.color {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.color-wrapper:nth-child(1) {
  margin: 23px 0px 6px 0px;
}

.color-wrapper:nth-child(1) .color {
  background-color: #008aff;
}

.color-wrapper:nth-child(2) .color {
  background-color: #fff;
}

.color-wrapper:nth-child(3) .color {
  background-color: #00fff6;
}

.color-wrapper:nth-child(4) .color {
  background-color: #ff0000;
}

.color-wrapper:nth-child(5) .color {
  background-color: #ffea00;
}

.name-brend {
  font-size: 215px;
  font-family: "Gobold-Bold";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -38px;
  line-height: 1.1;
}

.subname-brend {
  font-size: 176px;
  font-family: "Gobold-Bold";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -24px;
}

//FOOTER-CONTAINER//

.footer-container {
  position: relative;
  z-index: 10;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

.payment-wrapper-container {
  background-color: #000724;
}

.payment-container {
  padding: 17px 97px 30px 83px;
}

.pay-title {
  display: inline-block;
  font-size: 14px;
  color: #d7d8dd;
  font-family: "Roboto-Regular";
  line-height: 2;
  margin-bottom: 27px;
}

.pay-title::after {
  display: block;
  content: "";
  border-bottom: 2px solid #f5f5f6;
}

.pay-card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 13px;
}

.visa,
.mastercard,
.webmoney,
.western,
.bank {
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer;
}

.visa {
  background-image: url("../img/visa.png");
  width: 44px;
  height: 14px;
}

.mastercard {
  background-image: url("../img/Mastercard.png");
  width: 28px;
  height: 17px;
}

.webmoney {
  background-image: url("../img/Webmoney.png");
  width: 16px;
  height: 16px;
}

.transfer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.western {
  background-image: url("../img/western.png");
  width: 76px;
  height: 17px;
}

.bank {
  background-image: url("../img/bank.png");
  width: 20px;
  height: 20px;
}

.features-wrapper {
  background-color: #000;
  flex-grow: 1;
}
.features {
  padding: 18px 48px 0px 86px;
}

.features-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: #d7d8dd;
  font-family: "Roboto-Regular";
  line-height: 2;
  margin-bottom: 8px;
  letter-spacing: 2.9px;
}

.features-title::after {
  display: block;
  content: "";
  border-bottom: 1px solid #f5f5f6;
  width: 144px;
}

.features-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.features-list {
  display: flex;
  justify-content: space-between;
  max-width: 428px;
  width: 100%;
  margin-left: 16px;
  line-height: 1.5;
}

li a {
  text-decoration: none;
  font-size: 13px;
  font-family: "Roboto-Light";
  color: #fff;
}

ul {
  list-style-image: url("../img/list.png");
}

.cart-button {
  display: flex;
  margin-bottom: -7px;
}

#favorite-heart {
  background-image: url("../img/favorite-heart.png");
  width: 39px;
  height: 36px;
  background-repeat: no-repeat;
  margin-right: 19px;
  cursor: pointer;
}

.heart-mini {
  display: none;
}

.heart-mini.visible {
  display: inline-block;
  background-image: url("../img/heart-mini.png");
  width: 25px;
  height: 23px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 7px 0px 0px 7px;
}

.add-cart {
  position: relative;
  width: 174px;
  height: 36px;
  background-color: #00eaff;
  border-radius: 23px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  line-height: 2.4;
  text-align: center;
  cursor: pointer;
}

.add-cart-arrow {
  position: absolute;
  background-image: url("../img/arrow.png");
  width: 92px;
  height: 57px;
  background-repeat: no-repeat;
  top: -12px;
  right: -34px;
}
