@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

// SOUND-STORE-WRAPPER

.sound-store-wrapper {
  background-color: #000a26;
  position: relative;
  overflow: hidden;
  max-width: 1400px;
  width: 100%;
  height: 1000px;
}

.sound-word {
  @include respond-to(desktopLarge) {
    position: absolute;
    font-size: 1000.74px;
    text-transform: uppercase;
    font-family: "Gobold-Bold";
    color: #0a122d;
    top: -510px;
    left: -39px;
  }
}

.store-word {
  @include respond-to(desktopLarge) {
    position: absolute;
    font-size: 819.33px;
    text-transform: uppercase;
    font-family: "Gobold-Bold";
    color: #0a122d;
    bottom: -450px;
    left: -50px;
  }
}

// SOUND-NAVIGATION-CONTAINER

.sound-navigation-container {
  @include respond-to(desktopLarge) {
    position: relative;
    z-index: 1;
  }
}

.container-content {
  max-width: 1280px;
  margin: 0px auto;
}

.sound-navigation-content {
  @include respond-to(desktopLarge) {
    display: flex;
    justify-content: space-between;
  }
}

.sound-instruments {
  @include respond-to(desktopLarge) {
    max-width: 1280px;
    width: 100%;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.06);
  }
}

.sound-title {
  @include respond-to(desktopLarge) {
    font-size: 24.5px;
    text-transform: uppercase;
    font-family: "Roboto-Bold";
    display: flex;
    align-items: center;
    margin-left: 123px;
    color: #fff;
  }
}

.sound-subtitle {
  @include respond-to(desktopLarge) {
    font-size: 17px;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    align-self: center;
    color: #cdf6f7;
  }
}

.sound-subtitle::after {
  @include respond-to(desktopLarge) {
    display: block;
    content: "";
    border-bottom: 3px solid #00fcff;
  }
}

.navigation-icons {
  @include respond-to(desktopLarge) {
    display: flex;
  }
}

#search {
  @include respond-to(desktopLarge) {
    background-image: url("../img/search.png");
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    margin: 2px 25px 0px 0px;
    cursor: pointer;
  }
}

#shopping-cart {
  @include respond-to(desktopLarge) {
    background-image: url("../img/Cart.png");
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    font-size: 11px;
    font-family: "Roboto-Light";
    margin: 2px 25px 0px 0px;
    padding: 3px 0px 0px 29px;
    color: #fff;
    cursor: pointer;
  }
}

#favorites {
  @include respond-to(desktopLarge) {
    background-image: url("../img/Favorites.png");
    width: 24px;
    height: 22px;
    background-repeat: no-repeat;
    font-size: 11px;
    font-family: "Roboto-Light";
    margin: 2px 39px 0px 0px;
    padding: 3px 0px 0px 28px;
    color: #fff;
    cursor: pointer;
  }
}

#sound-menu {
  @include respond-to(desktopLarge) {
    background-image: url("../img/Menu.png");
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    margin: 26px 18px;
    cursor: pointer;
  }
}

// SEARCH-ON-CONTAINER

#search-on-container {
  @include respond-to(desktopLarge) {
    display: none;
  }
}

#search-on-container.visible {
  @include respond-to(desktopLarge) {
    width: 100%;
    display: block;
  }
}

.search-on-content {
  @include respond-to(desktopLarge) {
    margin: 0px 60px;
  }
}

.search-on-button {
  @include respond-to(desktopLarge) {
    position: relative;
  }
}

.search-on-button input {
  @include respond-to(desktopLarge) {
    font-size: 30px;
    color: #0a2e5a;
  }
}

input[type="text"] {
  @include respond-to(desktopLarge) {
    border: none;
    outline: none;
    width: 100%;
    vertical-align: middle;
    background-color: #e6edf1;
  }
}

#search-close {
  @include respond-to(desktopLarge) {
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url("../img/close.png");
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

//INFORMATION//

#information {
  @include respond-to(desktopLarge) {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    max-width: 560px;
    float: right;
    background-color: #fff;
    overflow: scroll;
    z-index: 12;
  }
}

#information.visible {
  @include respond-to(desktopLarge) {
    display: block;
  }
}

.information-content {
  @include respond-to(desktopLarge) {
    padding: 35px 0 40px 40px;
  }
}

.information-title {
  @include respond-to(desktopLarge) {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: "Roboto-Bold";
  }
}

.personnal {
  @include respond-to(desktopLarge) {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Roboto-Light";
  }
}

.information-content .nice-select {
  @include respond-to(desktopLarge) {
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    outline: none;
    width: 100%;
    max-width: 230px;
    margin-top: 3px;
    padding: 0px 0px;
    text-transform: uppercase;
    font-family: "Roboto-Bold";
  }
}

.information-content input {
  @include respond-to(desktopLarge) {
    border: none;
    outline: none;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    padding: 14px 0px;
    margin: 0px 25px 12px 0px;
    width: 100%;
    max-width: 230px;
  }
}

input[type="adress"] {
  @include respond-to(desktopLarge) {
    max-width: 485px;
  }
}

.note {
  @include respond-to(desktopLarge) {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Roboto-Light";
  }
}

input[type="note"] {
  @include respond-to(desktopLarge) {
    max-width: 485px;
    margin-bottom: 40px;
  }
}

.delivery {
  @include respond-to(desktopLarge) {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Roboto-Light";
  }
}

#delivers-mode {
  @include respond-to(desktopLarge) {
    outline: none;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    max-width: 230px;
    padding: 14px 0px;
  }
}

.your-item-container {
  @include respond-to(desktopLarge) {
    display: flex;
    align-items: end;
    justify-content: space-between;
    max-width: 480px;
    width: 100%;
    height: 120px;
    margin: 20px auto;
    border-bottom: 1px solid #d9e0e3;
  }
}

.your-cart-content {
  @include respond-to(desktopLarge) {
    background-color: #f2f9fd;
  }
}

.your-cart-title {
  @include respond-to(desktopLarge) {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #d9e0e3;
    max-width: 480px;
    width: 100%;
    margin: 20px auto;
    padding: 14px 0px;
    font-family: "Roboto-Bold";
  }
}

.image-cart {
  @include respond-to(desktopLarge) {
    margin-top: 30px;
  }
}

.image-cart img {
  @include respond-to(desktopLarge) {
    width: 59px;
    height: 39px;
  }
}

.description-produck-cart {
  @include respond-to(desktopLarge) {
    margin-top: 38px;
  }
}

.headpones-brand {
  @include respond-to(desktopLarge) {
    display: block;
    font-size: 18px;
    font-family: "Roboto-Light";
    color: black;
  }
}

.quantity-cart {
  @include respond-to(desktopLarge) {
    border: none;
    width: 12px;
    height: 0px;
    margin-top: 23px;
  }
}

.quantity-cart input {
  @include respond-to(desktopLarge) {
    font-size: 14px;
    background-color: #f2f9fd;
    text-align: center;
  }
}

button[class*="btn"] {
  @include respond-to(desktopLarge) {
    border: none;
    cursor: pointer;
  }
}

.plus-btn {
  @include respond-to(desktopLarge) {
    background-image: url("../img/plus.png");
    background-color: #f2f9fd;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    outline: none;
  }
}

.minus-btn {
  @include respond-to(desktopLarge) {
    background-image: url("../img/minus.png");
    width: 10px;
    height: 2px;
    background-repeat: no-repeat;
    outline: none;
  }
}

.total-price {
  @include respond-to(desktopLarge) {
    margin-top: 38px;
    font-family: "Roboto-Light";
    flex-grow: 0.6;
    text-align: right;
  }
}

.last-informations {
  @include respond-to(desktopLarge) {
    display: flex;
    padding-bottom: 40px;
  }
}

.consent-block {
  @include respond-to(desktopLarge) {
    width: 14px;
    height: 14px;
    border: 1px solid #e5e5e5;
    margin-right: 12px;
  }
}

.box-agree {
  @include respond-to(desktopLarge) {
    background-image: url("../img/box-agree.jpg");
    width: 14px;
    height: 14px;
    margin-right: 12px;
  }
}

.consent-container {
  @include respond-to(desktopLarge) {
    display: flex;
    align-items: center;
    width: 60%;
    padding-left: 40px;
  }
}

.total-button-container {
  @include respond-to(desktopLarge) {
    width: 40%;
  }
}

.consent {
  @include respond-to(desktopLarge) {
    font-size: 14px;
    font-family: "Roboto-Light";
    color: #4c4d4e;
  }
}

.consent a {
  @include respond-to(desktopLarge) {
    font-size: 14px;
    font-family: "RobotoLight";
    color: #81c5e8;
    text-decoration: none;
  }
}

.shipping-container,
.subtotal-container {
  @include respond-to(desktopLarge) {
    display: flex;
    width: 180px;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.shipping-title,
.subtotal-title,
.shipping-price,
.subtotal-price {
  @include respond-to(desktopLarge) {
    font-size: 14px;
    text-transform: uppercase;
    color: #4c4d4e;
    font-family: "Roboto-Light";
  }
}

.submit {
  @include respond-to(desktopLarge) {
    width: 180px;
    height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
    border: 0;
    font-family: "Roboto-Light";
  }
}

#information-close {
  @include respond-to(desktopLarge) {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    cursor: pointer;
    width: 17px;
    height: 17px;
  }
}

//INFORMATION//

#favorites-container {
  @include respond-to(desktopLarge) {
    display: none;
  }
}

#favorites-container.visible {
  @include respond-to(desktopLarge) {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    background-color: #000a26;
    overflow: scroll;
    z-index: 12;
  }
}

.favorites-title {
  @include respond-to(desktopLarge) {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Roboto-Bold";
    margin: 30px 12px 20px 12px;
    color: #fff;
  }
}

.headpones-models-images {
  @include respond-to(desktopLarge) {
    display: flex;
    flex-wrap: wrap;
  }
}

.headpones-model {
  @include respond-to(desktopLarge) {
    width: 100%;
    border: 6.5px solid transparent;
  }
}

.headpones-model-image {
  @include respond-to(desktopLarge) {
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.headpones-model:nth-child(1) .headpones-model-image {
  @include respond-to(desktopLarge) {
    background-image: url("../img/headphones1.png");
  }
}

.headpones-model:nth-child(2) .headpones-model-image {
  @include respond-to(desktopLarge) {
    background-image: url("../img/headphones2.png");
  }
}

.headpones-model:nth-child(3) .headpones-model-image {
  @include respond-to(desktopLarge) {
    background-image: url("../img/headphones3.png");
  }
}

.headpones-model:nth-child(4) .headpones-model-image {
  @include respond-to(desktopLarge) {
    background-image: url("../img/headphones4.png");
  }
}

.headpones-model:nth-child(5) .headpones-model-image {
  @include respond-to(desktopLarge) {
    background-image: url("../img/headphones5.png");
  }
}

#favorites-close {
  @include respond-to(desktopLarge) {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    background-image: url("../img/close1.png");
    background-repeat: no-repeat;
    cursor: pointer;
    width: 17px;
    height: 17px;
    color: #fff;
  }
}

.tabs-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

//WRAPPER//

.tabs-wrapper .active {
  color: red;
}

.tabs-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-grow: 0.5;
  position: relative;
  z-index: 10;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tab-title {
  color: #fff;
  font-size: 63px;
  text-transform: uppercase;
  font-family: "Gobold-Bold";
  opacity: 0.4;
  display: none;
}

.tab-container {
  position: relative;
  width: 81px;
  height: 81px;
  background: #fff;
  cursor: pointer;
}

.tab-container.active {
  width: 130px;
  height: 120px;
  background: linear-gradient(to right, #00cfff, #0079ff);
}

.tab-image.active {
  width: 70px;
  height: 94px;
  background-size: contain;
  background-position: bottom;
}

.tab-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 59px;
  height: 59px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.tab-container:nth-child(1) .tab-image {
  background-image: url("../img/Headphonebig1.png");
}

.tab-container:nth-child(2) .tab-image {
  background-image: url("../img/Headphonebig2.png");
}

.tab-container:nth-child(3) .tab-image {
  background-image: url("../img/headphones6.png");
}

.tab-container:nth-child(4) .tab-image {
  background-image: url("../img/headphones3s.png");
}

.tab-container:nth-child(5) .tab-image {
  background-image: url("../img/Headphonebig5.png");
}

.tab-container:nth-child(6) .tab-image {
  background-image: url("../img/Headphonebig6.png");
}

//TAB-CONTENT//

.tab-content {
  display: flex;
  flex-direction: row-reverse;
}

.tab_item {
  position: relative;
  display: inline-block;
  width: 378px;
  height: 520px;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: contain;
}

.tab_item:nth-child(1) {
  background-image: url("../img/Headphonebig1.png");
}

.tab_item:nth-child(2) {
  background-image: url("../img/Headphonebig2.png");
}

.tab_item:nth-child(3) {
  background-image: url("../img/Headphonebig.png");
}

.tab_item:nth-child(4) {
  background-image: url("../img/Headphonebig1.png");
}

.tab_item:nth-child(5) {
  background-image: url("../img/Headphonebig5.png");
}

.tab_item:nth-child(6) {
  background-image: url("../img/Headphonebig6.png");
}

//DETAILS-CONTAINER//

.details-title {
  font-size: 12px;
  color: #fff;
  font-family: "Roboto-Thin";
  letter-spacing: 2px;
}

.details-title::after {
  display: block;
  content: "";
  border-bottom: 2px solid #00b3f2;
  line-height: 2.6;
}

//COLOURS-CONTAINER//

.colours-container {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.colours-title {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Roboto-Light";
  color: #fff;
  letter-spacing: 3px;
  line-height: 1.3;
  margin-bottom: 13px;
}

.colours-subtitle {
  font-size: 19px;
  text-transform: uppercase;
  font-family: "Roboto-Light";
  color: #fff;
  letter-spacing: 0px;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  border-image: linear-gradient(to top, transparent 0%, #00d1fe 100%);
  border-image-slice: 1;
}

.color-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.color-wrapper.active {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.color {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.color-wrapper:nth-child(1) {
  margin: 23px 0px 6px 0px;
}

.color-wrapper:nth-child(1) .color {
  background-color: #008aff;
}

.color-wrapper:nth-child(2) .color {
  background-color: #fff;
}

.color-wrapper:nth-child(3) .color {
  background-color: #00fff6;
}

.color-wrapper:nth-child(4) .color {
  background-color: #ff0000;
}

.color-wrapper:nth-child(5) .color {
  background-color: #ffea00;
}
